@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", sans-serif;
  --font-mono: "Pretendard", monospace;
  --font-serif: "Pretendard", serif;
  --brakpoint-site: 1440px;
  --spacing-site: 1440px;
}

@layer base {
  body {
    font-family: "Pretendard", sans-serif;
    overflow-x: hidden;
    cursor: none;
    a {
      cursor: none;
    }
  }
}
