---
import { Image } from "astro:assets"
import Logo from "../assets/img/logo.svg"
import menu from "../collections/menu.json"
---

<nav>
  <div class="logo-area">
    <a href="#home" class="logo hoverable">
      <Image src={Logo} width={50} height={50} alt="Logo" />
    </a>
  </div>
  <div class="menu">
    <ul class="menu-list">
      {
        menu.menuItems.map((item) => {
          return (
            <li class="menu-item hoverable">
              <a href={item.url}>{item.name}</a>
            </li>
          )
        })
      }
    </ul>
  </div>
  <div class="call-to-action">
    <a href="" class="btn hoverable">Download Resume</a>
    <a href="#contact" class="btn hoverable">Contact Me</a>
  </div>
</nav>

<script>
  import gsap from "gsap"
  import { LifecycleManager } from "../scripts/animationLifecycle.ts"
  import { $smoothScroll } from "../stores/smoothScrollStore"
  import { $introComplete } from "../stores/introStore"

  const manager = new LifecycleManager()

  const animateHeader = (header:HTMLElement) => {
    manager.ctx?.add(() => {
      gsap
        .timeline()
        .to(header, {
          duration: 1,
          opacity: 1,
          delay: 0,
          ease: "power2.inOut",
          onComplete: () => {
            $smoothScroll.value.start()
          },
        })
    })
  }

  manager.onElementLoaded("nav", () => {
    const header = document.querySelector("nav")
    if (!header) return
    // gsap.set(header, { opacity: 0 })
    $smoothScroll.value.stop()
    $introComplete.listen(() => {
    if ($introComplete.get()) {
        animateHeader(header)
      } else {
        return
      }
    })
    if ($introComplete.get()) {
      animateHeader(header)
    } else {
      return
    }
  })
</script>

<style>
  @reference '../styles/global.css';
  nav {
    @apply w-full max-w-screen mx-auto;
    @apply flex flex-col lg:flex-row justify-between items-center py-4 px-8 h-[90px] space-y-4;
    .logo-area {
      @apply flex items-center;
      .logo {
        @apply flex items-center gap-2 text-2xl font-bold text-gray-800;
        img {
          @apply w-14 h-14;
        }
      }
    }
    .menu {
      .menu-list {
        @apply flex flex-row gap-10;
        .menu-item {
          a {
            @apply text-xl;
          }
        }
      }
    }
    .call-to-action {
      @apply flex gap-8;
      .btn {
        @apply text-xl opacity-50 transition-all duration-300 ease-in-out;
        &:hover {
          @apply opacity-100;
        }
      }
    }
  }
</style>
