---
import profilePic from "../assets/img/profile-pic-optimized.png"
import { Image } from "astro:assets"
import github from "../assets/img/github.svg"
import linkedin from "../assets/img/linkedin.svg"
import CodeArea from "./CodeArea.astro"
import video from "../assets/video/waves.mp4"
import MarqueeWall from "./MarqueeWall.astro"
import AboutTransition from "./AboutTransition.astro"
---

<section class="site-hero">
  <div class="main-section">
    <div class="bento">
      <div class="bento-item bento-1 invert-area">
        <CodeArea />
        <h1>
          A Full-Stack Developer with a Keen Eye for Design and a Passion for
          Tinkering
        </h1>
        <div class="overlay"></div>
      </div>
      <div class="bento-item bento-2">
        <MarqueeWall />
      </div>
      <div class="bento-item bento-3 invert-area">
        <AboutTransition />
        <video
          class="bg-video z-2"
          width="600"
          height="100%"
          autoplay
          loop
          muted
          playsinline
        >
          <source src={video} />
        </video>
      </div>
      <div class="bento-item bento-4">4</div>
      <div class="bento-item bento-5">
        <div class="image-section">
          <Image
            src={profilePic}
            alt="Gustavo Gomez"
            width={200}
            height={200}
            loading="eager"
          />
        </div>
        <div class="my-card">
          <h2>Gustavo Gomez</h2>
          <p>Software developer & JavaScript enthusiast</p>
        </div>
        <div class="social-networks">
          <a
            class="hoverable"
            href="https://github.com/gustavogomez092"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              width={36}
              height={36}
              src={github}
              alt="GitHub"
              loading="eager"
            />
          </a>
          <a
            class="hoverable"
            href="https://www.linkedin.com/in/gustavo-gomez-selva-7000621b7"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              width={36}
              height={36}
              src={linkedin}
              alt="LinkedIn"
              loading="eager"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="animation-target" class="w-full max-w-screen h-0 lg:h-[200vh]"></div>
</section>

<script>
  import gsap from "gsap"
  import { LifecycleManager } from "../scripts/animationLifecycle.ts"
  import { $introComplete } from "../stores/introStore"
  import { ScrollTrigger } from "gsap/all"

  gsap.registerPlugin(ScrollTrigger)

  const manager = new LifecycleManager()

  const bentoAnimation = () => {
    const bentoItems = document.querySelectorAll(".bento-item")
    manager.ctx?.add(() =>
      gsap.timeline().from(bentoItems, {
        duration: 1,
        opacity: 0,
        delay: 0.4,
        y: 50,
        stagger: 0.2,
        ease: "power3.out",
      })
    )
  }

  const scrollAnimation = () => {
    const bento1 = document.querySelector(".bento-1")
    const bento2 = document.querySelector(".bento-2")
    const bento3 = document.querySelector(".bento-3")
    const bento4 = document.querySelector(".bento-4")
    const bento5 = document.querySelector(".bento-5")
    const almostAllBentos = [bento1, bento5, bento2, bento4]
    const allBentos = [bento3, bento1, bento5, bento2, bento4]

    if (!bento1 || !bento2 || !bento3 || !bento4 || !bento5) return

    manager.ctx?.add(() => {
      let mm = gsap.matchMedia()

      // add a media query. When it matches, the associated function will run
      mm.add("(min-width: 1024px)", () => {
        // this setup code only runs when viewport is at least 800px wide
        gsap
          .timeline({
            scrollTrigger: {
              trigger: ".main-section",
              endTrigger: "#animation-target",
              start: "center center",
              end: "bottom center",
              markers: false,
              scrub: true,
              pin: true,
              pinSpacing: false,
            },
            defaults: {
              ease: "linear",
              force3D: false,
            },
          })
          .fromTo(
            allBentos,
            {
              x: 0,
              y: 0,
            },
            {
              x: function (_, target) {
                return (
                  window.innerWidth / 2 -
                  target.getBoundingClientRect().left -
                  Number(gsap.getProperty(target, "width")) / 2
                )
              },
              y: function (_, target) {
                return (
                  window.innerHeight / 2 -
                  target.getBoundingClientRect().top -
                  Number(gsap.getProperty(target, "height")) / 2
                )
              },
              duration: 5,
              stagger: 0.7,
            }
          ).to(
            almostAllBentos,
            {
              scale: 0,
              duration: 5,
              stagger: 0.5,
            },
            "-=5"
          )
          .to(
            bento3,
            {
              translateY: -500,
              scale: 10,
              duration: 20,
            },
            "-=4"
          )
          .to(
            ".bento-3 > .bg-video",
            {
              duration: 5,
              opacity: 0,
            },
            "-=23"
          )

        return () => {
          // optional
          // custom cleanup code here (runs when it STOPS matching)
        }
      })

      mm.add("(max-width: 1023px)", () => {
        // this setup code only runs when viewport is less than 800px wide
        gsap
          .timeline({
            scrollTrigger: {
              trigger: ".main-section",
              endTrigger: "#animation-target",
              start: "center center",
              end: "bottom center",
              markers: false,
              scrub: true,
              pin: true,
              pinSpacing: false,
            },
            defaults: {
              ease: "linear",
            },
          })
          .fromTo(
            bento3,
            {
              x: 0,
              y: 0,
            },
            {
              y: "-100%",
              duration: 10,
              stagger: 1.5,
            }
          )
          .fromTo(
            bento3,
            {
              scale: 1,
            },
            {
              duration: 20,
              scale: 5,
            },
            "-=9"
          )
          .to(
            ".bento-3 > .bg-video",
            {
              duration: 5,
              opacity: 0,
            },
            "-=22"
          )

        return () => {
          // optional
          // custom cleanup code here (runs when it STOPS matching)
        }
      })
    })
  }

  manager.onElementLoaded(".site-hero", () => {
    scrollAnimation()
    if ($introComplete.get()) {
      bentoAnimation()
    } else {
      $introComplete.subscribe((value) => {
        if (value) {
          bentoAnimation()
        }
      })
    }
  })
</script>

<style>
  @reference '../styles/global.css';

  .site-hero {
    @apply pt-28 lg:pt-8 h-auto flex flex-col items-center justify-center z-10;
    .main-section {
      @apply w-screen max-w-site mx-auto h-full px-4 lg:px-10 overflow-hidden;
      @media (min-width: 1024px) {
        overflow: unset;
      }
      .bento {
        @apply w-full h-auto lg:h-[calc(100vh_-_200px)] grid grid-cols-4 grid-rows-5 gap-4;

        .bento-item {
          @apply rounded-lg p-6 origin-center;
        }
        .bento-1 {
          @apply relative bg-slate-900 flex flex-col justify-between overflow-hidden z-50 h-[72vh] lg:h-full;
          @apply col-span-4 lg:col-span-2 row-span-2 lg:row-span-4 col-start-1 row-start-1;
          h1 {
            @apply relative z-40 text-[28px] leading-tight lg:text-5xl font-bold text-white;
          }
          .overlay {
            @apply absolute w-full bg-gradient-to-t from-slate-900 via-slate-900 via-60% to-transparent
            z-30 left-0 bottom-0 h-[50%];
          }
        }
        .bento-2 {
          @apply hidden lg:block bg-gray-200 z-40 p-0 overflow-hidden;
          @apply row-span-3 col-start-3;
        }
        .bento-3 {
          @apply bg-black relative overflow-hidden z-60 p-0;
          @apply row-span-1 col-span-4 lg:col-span-1 lg:row-span-2 col-start-1 lg:col-start-3 row-start-4;
          .bg-video {
            @apply absolute left-0 top-0 w-full h-full object-cover;
          }
        }
        .bento-4 {
          @apply hidden lg:block bg-sky-200 row-span-5 col-start-4 row-start-1 z-40;
        }
        .bento-5 {
          @apply bg-slate-200 flex flex-col lg:flex-row justify-center items-center space-y-4 space-x-0 lg:space-x-6 z-30;
          @apply col-span-4 lg:col-span-2 col-start-1 row-start-3 lg:row-start-5;
          .image-section {
            @apply h-24 w-24;
            img {
              @apply rounded-full w-full h-full object-cover object-top;
            }
          }
          .my-card {
            @apply flex flex-col justify-center text-center lg:text-left;
            h2 {
              @apply text-2xl font-bold text-gray-800;
            }
            p {
              @apply text-gray-600;
            }
          }
          .social-networks {
            @apply flex space-x-4 ml-0 lg:ml-10;
            a {
              img {
                @apply w-9 h-9;
              }
            }
          }
        }
      }
    }
  }
</style>
