---
import '@fontsource/meddon';

---


<section class="site-hero">
  <div class="main-section">

  </div>
</section>

<script>
  import gsap from 'gsap';
  import { LifecycleManager } from "../scripts/animationLifecycle.ts"
  import SplitType from 'split-type';

    const manager = new LifecycleManager();

      manager.onElementLoaded(".site-hero", () => {

      })


</script>

<style>
  @reference '../styles/global.css';

  .site-hero {
    @apply w-full h-[calc(100vh_-_200px)] flex items-center justify-center;
    .main-section {
      @apply text-center;
      h1 {
        @apply text-[100px] font-medium leading-tight text-black;
        span {
          @apply inline-block;
          &.line {
            @apply overflow-hidden;
          }
        }
      }
    }
  }
</style>
