---
import "../styles/global.css";

import Logo from "../assets/img/logo.svg?url";

import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Mouse from "../components/Mouse.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<ClientRouter />
		<link rel="icon" type="image/svg+xml" href={Logo} />
		<meta name="generator" content={Astro.generator} />
		<title>Gustavo Gomez - Full Stack Developer</title>
	</head>
	<body>
		<Mouse />
		<Intro />
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	body {
		@apply bg-[#f3f4f6];
	}
</style>
